
<!--to iterate over array of elements / list of elements = *ngFor-->
<h1>Employees List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th> First Name </th>     
            <th> Second Name </th>
            <th> Email Id </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employees of employee">
            <td>{{ employees.firstName }}</td>
            <td>{{ employees.lastName }}</td>
            <td>{{ employees.emailId }}</td>
            <td>
                <button (click) = "updateEmployee(employees.id)" class="btn btn-info"> Update </button>
                <button (click) = "deleteEmployee(employees.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employees.id)" class = "btn btn-info" style="margin-left: 10px"> View </button>
            </td>
        </tr>
    </tbody>

    


</table>